:root {
  --test-background-color: var(--a11y-color-4);
  /* --test-text-color: var(--a11y-color-5); */
  --test-button-background: var(--a11y-color-6);
  --test-button-text: var(--a11y-color-3);
}

/* Light Theme (Default) */
.theme-container {
  border: var(--test-border);
  background-color: var(--test-background-color);
  color: var(--test-text-color);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.theme-btn {
  background-color: var(--test-button-background);
  color: var(--test-button-text);
  border: var(--test-border);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.theme-btn:hover {
  background-color: var(--a11y-color-2);
}

/* Dark Theme */
body.dark-mode {
  --test-background-color: var(--a11y-color-4);
  --test-button-background: var(--a11y-color-2);
  --test-button-text: var(--a11y-color-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --test-background-color: var(--a11y-color-3);
    --test-button-background: var(--a11y-color-2);
    --test-button-text: var(--a11y-color-3);
  }
}

/* High Contrast Mode */
body.high-contrast {
  --test-background-color: black;
  --test-button-background: black;
  --test-button-text: white;
  --test-border: 2px solid white;
}

/* High Contrast Mode */
@media (prefers-contrast: high) {
  :root {
    --test-background-color: black;
    --test-button-background: yellow;
    --test-button-text: white;
  }
}

body {
  background-color: var(--a11y-color-8);
}
