:root {
  --a11y-color-1: #bbbbbb;
  --a11y-color-2: #67c1ff;
  --a11y-color-3: #121212;
  --a11y-color-4: #2a2a2a;
  --a11y-color-5: #e3e3e3;
  --a11y-color-6: #4da8ff;
  --a11y-color-7: #101010;
  --a11y-color-8: #888888;
  --a11y-color-9: #67c1ffc5;

  /* base */
  --a11y-background-color: var(--a11y-color-3);
  --a11y-border: var(--a11y-color-1);
  --a11y-focus-border-color: var(--a11y-color-2);

  --a11y-access-panel-background-color: var(--a11y-color-4);
  --a11y--a11y--access-panel-color: var(--a11y-color-3);
  --a11y--a11y--access-panel-border-color: transparent;

  --a11y--access-panel-btn-background-color: var(--a11y-color-6);
  --a11y-access-panel-btn-color: var(--a11y-color-3);
  --a11y-access-panel-btn-border-color: transparent;
  --a11y-access-panel-btn-hover-background-color: var(--a11y-color-9);
  --a11y-access-panel-btn-hover-color: var(--a11y-color-3);
  --a11y-access-panel-btn-hover-border-color: transparent;

  --a11y-access-panel-drag-btn-background-color: transparent;
  --a11y-access-panel-drag-btn-color: var(--a11y-color-5);
  --a11y-access-panel-drag-btn-border-color: transparent;
  --a11y-access-panel-drag-btn-hover-background-color: transparent;
  --a11y-access-panel-drag-btn-hover-color: var(--a11y-color-2);
  --a11y-access-panel-drag-btn-hover-border-color: transparent;

  /* buttons */
  --a11y-btn-background-color: var(--a11y-color-4);
  --a11y-btn-border-color: transparent;
  --a11y-btn-color: var(--a11y-color-5);
  --a11y-btn-hover-background-color: var(--a11y-color-2);
  --a11y-btn-hover-border-color: var(--a11y-color-2);
  --a11y-btn-hover-color: var(--a11y-color-3);
  --a11y-btn-active-background-color: var(--a11y-color-2);
  --a11y-btn-active-border-color: var(--a11y-color-2);
  --a11y-btn-active-color: var(--a11y-color-3);

  /* checkboxes */
  --a11y-checkbox-track-color: var(--a11y-color-8);
  --a11y-checkbox-track-active-color: var(--a11y-color-3);
  --a11y-checkbox-thumb-color: var(--a11y-color-3);
  --a11y-checkbox-thumb-active-color: var(--a11y-color-6);

  /* labels */
  --a11y-label-color: var(--a11y-color-5);
  --a11y-label-active-color: var(--a11y-color-2);

  /* text */
  --a11y-text-color: var(--a11y-color-1);
  --a11y-text-hover-color: var(--a11y-color-2);
  --a11y-text-active-color: var(--a11y-color-2);

  /* text list */
  --a11y-list-color: var(--a11y-color-7);
  --a11y-list-hover-color: var(--a11y-color-3);
  --a11y-list-active-color: var(--a11y-color-4);
  --a11y-list-background-color: var(--a11y-color-4);
  --a11y-list-hover-background-color: var(--a11y-color-9);
  --a11y-list-active-background-color: var(--a11y-color-2);
}

body.high-contrast {
  --a11y-color-1: #bbbbbb;
  --a11y-color-2: #67c1ff;
  --a11y-color-3: #121212;
  --a11y-color-4: #2a2a2a;
  --a11y-color-5: #e3e3e3;
  --a11y-color-6: #4da8ff;
  --a11y-color-7: #101010;
  --a11y-color-8: #888888;
  --a11y-color-9: #67c1ffc5;
  /* base */
  --a11y-background-color: var(--a11y-color-3);
  --a11y-border: var(--a11y-color-1);
  --a11y-focus-border-color: var(--a11y-color-2);

  --a11y-access-panel-background-color: var(--a11y-color-4);
  --a11y--a11y--access-panel-color: var(--a11y-color-3);
  --a11y--a11y--access-panel-border-color: transparent;

  --a11y--access-panel-btn-background-color: var(--a11y-color-6);
  --a11y-access-panel-btn-color: var(--a11y-color-3);
  --a11y-access-panel-btn-border-color: transparent;
  --a11y-access-panel-btn-hover-background-color: var(--a11y-color-9);
  --a11y-access-panel-btn-hover-color: var(--a11y-color-3);
  --a11y-access-panel-btn-hover-border-color: transparent;

  --a11y-access-panel-drag-btn-background-color: transparent;
  --a11y-access-panel-drag-btn-color: var(--a11y-color-5);
  --a11y-access-panel-drag-btn-border-color: transparent;
  --a11y-access-panel-drag-btn-hover-background-color: transparent;
  --a11y-access-panel-drag-btn-hover-color: var(--a11y-color-2);
  --a11y-access-panel-drag-btn-hover-border-color: transparent;

  /* buttons */
  --a11y-btn-background-color: var(--a11y-color-4);
  --a11y-btn-border-color: transparent;
  --a11y-btn-color: var(--a11y-color-5);
  --a11y-btn-hover-background-color: var(--a11y-color-2);
  --a11y-btn-hover-border-color: var(--a11y-color-2);
  --a11y-btn-hover-color: var(--a11y-color-3);
  --a11y-btn-active-background-color: var(--a11y-color-2);
  --a11y-btn-active-border-color: var(--a11y-color-2);
  --a11y-btn-active-color: var(--a11y-color-3);

  /* checkboxes */
  --a11y-checkbox-track-color: var(--a11y-color-8);
  --a11y-checkbox-track-active-color: var(--a11y-color-3);
  --a11y-checkbox-thumb-color: var(--a11y-color-3);
  --a11y-checkbox-thumb-active-color: var(--a11y-color-6);

  /* labels */
  --a11y-label-color: var(--a11y-color-5);
  --a11y-label-active-color: var(--a11y-color-2);

  /* text */
  --a11y-text-color: var(--a11y-color-1);
  --a11y-text-hover-color: var(--a11y-color-2);
  --a11y-text-active-color: var(--a11y-color-2);

  /* text list */
  --a11y-list-color: var(--a11y-color-7);
  --a11y-list-hover-color: var(--a11y-color-3);
  --a11y-list-active-color: var(--a11y-color-4);
  --a11y-list-background-color: var(--a11y-color-4);
  --a11y-list-hover-background-color: var(--a11y-color-9);
  --a11y-list-active-background-color: var(--a11y-color-2);
}

@media (prefers-contrast: high) {
  :root {
    --a11y-color-1: #bbbbbb;
    --a11y-color-2: #67c1ff;
    --a11y-color-3: #121212;
    --a11y-color-4: #2a2a2a;
    --a11y-color-5: #e3e3e3;
    --a11y-color-6: #4da8ff;
    --a11y-color-7: #101010;
    --a11y-color-8: #888888;
    --a11y-color-9: #67c1ffc5;
    /* base */
    --a11y-background-color: var(--a11y-color-3);
    --a11y-border: var(--a11y-color-1);
    --a11y-focus-border-color: var(--a11y-color-2);

    --a11y-access-panel-background-color: var(--a11y-color-4);
    --a11y--a11y--access-panel-color: var(--a11y-color-3);
    --a11y--a11y--access-panel-border-color: transparent;

    --a11y--access-panel-btn-background-color: var(--a11y-color-6);
    --a11y-access-panel-btn-color: var(--a11y-color-3);
    --a11y-access-panel-btn-border-color: transparent;
    --a11y-access-panel-btn-hover-background-color: var(--a11y-color-9);
    --a11y-access-panel-btn-hover-color: var(--a11y-color-3);
    --a11y-access-panel-btn-hover-border-color: transparent;

    --a11y-access-panel-drag-btn-background-color: transparent;
    --a11y-access-panel-drag-btn-color: var(--a11y-color-5);
    --a11y-access-panel-drag-btn-border-color: transparent;
    --a11y-access-panel-drag-btn-hover-background-color: transparent;
    --a11y-access-panel-drag-btn-hover-color: var(--a11y-color-2);
    --a11y-access-panel-drag-btn-hover-border-color: transparent;

    /* buttons */
    --a11y-btn-background-color: var(--a11y-color-4);
    --a11y-btn-border-color: transparent;
    --a11y-btn-color: var(--a11y-color-5);
    --a11y-btn-hover-background-color: var(--a11y-color-2);
    --a11y-btn-hover-border-color: var(--a11y-color-2);
    --a11y-btn-hover-color: var(--a11y-color-3);
    --a11y-btn-active-background-color: var(--a11y-color-2);
    --a11y-btn-active-border-color: var(--a11y-color-2);
    --a11y-btn-active-color: var(--a11y-color-3);

    /* checkboxes */
    --a11y-checkbox-track-color: var(--a11y-color-8);
    --a11y-checkbox-track-active-color: var(--a11y-color-3);
    --a11y-checkbox-thumb-color: var(--a11y-color-3);
    --a11y-checkbox-thumb-active-color: var(--a11y-color-6);

    /* labels */
    --a11y-label-color: var(--a11y-color-5);
    --a11y-label-active-color: var(--a11y-color-2);

    /* text */
    --a11y-text-color: var(--a11y-color-1);
    --a11y-text-hover-color: var(--a11y-color-2);
    --a11y-text-active-color: var(--a11y-color-2);

    /* text list */
    --a11y-list-color: var(--a11y-color-7);
    --a11y-list-hover-color: var(--a11y-color-3);
    --a11y-list-active-color: var(--a11y-color-4);
    --a11y-list-background-color: var(--a11y-color-4);
    --a11y-list-hover-background-color: var(--a11y-color-9);
    --a11y-list-active-background-color: var(--a11y-color-2);
  }
}
