:root {
  /* Panel */
  --panel-background-color: #ffffff; /* Light background */
  --panel-color: #2e2e2e; /* Dark text for readability */
  --panel-border-color: #e0e0e0; /* Light border */

  /* Features buttons */
  --button-color: #2e2e2e; /* Neutral dark text */
  --button-background-color: #f0f0f0; /* Light gray button background */
  --button-border-color: #d0d0d0; /* Subtle gray border */
  --button-hover-color: #ffffff; /* White text on hover */
  --button-hover-background-color: #007bff; /* Blue background on hover */
  --button-active-color: #ffffff; /* White text on active */
  --button-active-background-color: #007bff; /* Blue background on active */

  /* Toggle buttons */
  --circle-toggle: #ffffff; /* White circle */
  --active-toggle: #007bff; /* Blue for active state */
  --slider-toggle: #d0d0d0; /* Light gray slider background */

  /* Overlay bottom gradient */
  --overlay-bottom-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 25%, /* Transparent white at the top */
    rgba(255, 255, 255, 0.50) 50%, /* Semi-transparent white */
    rgba(255, 255, 255, 0.75) 75%, /* More opaque white */
    rgba(255, 255, 255, 1) 100% /* Fully opaque white at the bottom */
  );


  --access-button-background-color: #d0d0d0;
  --access-button-color: #007bff;
  --access-button-hover-background-color: #007bff;
  --access-button-hover-color: #ffffff;

}